.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.wrapper {
    display: flex;
    justify-content: space-between;

    height: 100vw;
    background-image: url('./book.jpg');
    background-size: 102%;
    background-repeat: no-repeat;
    background-position: -13px -9px, center;
}

.phonebook {
    padding-left: 210px;
    padding-top: 180px;
}
.contacts {
    max-width: 490px;
    padding-top: 80px;
    padding-right: 120px;
}
.toast {
    color: rgb(102, 35, 8);
    background-color: rgb(130, 207, 116);
}